<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861576179168-1oiea4i3lo6fgmmtej5onm8d24ec51kk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861576179168-1oiea4i3lo6fgmmtej5onm8d24ec51kk</string>
	<key>API_KEY</key>
	<string>AIzaSyDbfJh_F2neTIXoxlXQp6_mqmyKvXT46o4</string>
	<key>GCM_SENDER_ID</key>
	<string>861576179168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>harukikoga.com.SabusukuKanri</string>
	<key>PROJECT_ID</key>
	<string>sabusukukanri-1d690</string>
	<key>STORAGE_BUCKET</key>
	<string>sabusukukanri-1d690.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861576179168:ios:743419b4dc1cf266004f85</string>
</dict>
</plist>